[submodule "lib/Symfony/Component/Console"]
	path = lib/Symfony/Component/Console
	url = git://github.com/symfony/Console.git
[submodule "lib/Symfony/Component/ClassLoader"]
	path = lib/Symfony/Component/ClassLoader
	url = git://github.com/symfony/ClassLoader.git
[submodule "lib/devmx/Teamspeak3"]
	path = lib/devmx/Teamspeak3
	url = git://github.com/devMX/TeamSpeak3-Framework.git
[submodule "lib/Symfony/Component/Process"]
	path = lib/Symfony/Component/Process
	url = git://github.com/symfony/Process.git
